<div class="centerdiv">
  <h3>
    {{ storedFeeds.image.link }}
    {{ storedFeeds.image.title }} 
    <img [src]="storedFeeds.image.url" class="url">
  </h3>
</div>
<div>
  <div class="header">
    <app-searchbar></app-searchbar>
  </div>
    <div class="container">
      <div class="heading">
        <h2>Vacatures: vind de baan die écht bij je past.</h2>
      </div>
    </div>
  <div>
    <div *ngIf="storedFeeds">
      <div *ngFor="let storedFeed of storedFeeds.item; let i = index">
        <div *ngIf="i<10" class="feedContainer">
            <div>
                <img [src]="storedFeed.logo" class="logo">
            </div>
            <div>
                <h3 id="title">{{ storedFeed.title }}</h3>
                <p [innerHTML]="storedFeed.description" id="description"></p>
                <small id="location">{{ storedFeed.city }} , {{ storedFeed.province }}</small>
            </div>
            <div class="detailButton">
             <button>Bekijk details</button>
          </div>
        </div>
        <hr>
        </div>
        <div *ngFor="let page of pages; let i = index;">
          <span>{{ i }}</span>
        </div>
      </div>
  </div>
</div>


